h1{
    background-color: orange;
    width: 100%;
    border: 1px solid black;
    border-radius: 1px;
    text-align: center;
    padding: 10px;
    opacity: 0.5;
}
.circle{
    width: 150px;
    height: 150px;
    margin: auto;
    border-radius: 50%;
    transition: all 0.5;
    opacity: 0.5;
}
.circle:hover{
opacity: 1;
}
#red{
    background-color: red;
}
#yellow{
    background-color: yellow;
}
#green{
    background-color: green;
}